<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    
    <div class="w-full min-h-screen bg-zinc-900 text-white p-10">

        <h1 class="text-3xl text-center font-medium mb-10">Login Your Account</h1>
        <% if (typeof message !== 'undefined') { %>
            <p class="text-red-500 text-center mb-2"><%= message %></p>
        <% } %>

        <div class="flex justify-center items-center">
            <form action="/login" method="post">

            <div class="flex flex-col justify-center items-center space-y-4 w-[350px]">
                <input class="px-3 py-2 outline-none border-2 border-zinc-700 bg-transparent rounded-lg w-full" type="email" placeholder="Enter email" name="email">
                <input class="px-3 py-2 outline-none border-2 border-zinc-700 bg-transparent rounded-lg w-full" type="password" placeholder="Enter password" name="password">
                <input class="px-3 py-2 bg-blue-500 rounded-md ml-3" type="submit" value="Login Account">
            </div>
        </form>
        </div>
    </div>
</body>
</html>